@{
    ViewBag.Title = "Home Page";
}


<div class="row" ng-controller="controller as $ctrl">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>KU_NR</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="zoll in $ctrl.data">
                    <td>{{zoll.KU_NR}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>